{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
            url("{{ asset("contrib/backdrops/" ~ serie.backdrop) }}");
        }
    </style>

    <h1>{{ serie.name }}</h1>

    {%  if serie is empty %}
        Pas de série de cet id
    {% else %}
    <ul>
        <li>{{ serie.id }}</li>
        <li>{{ serie.name }}</li>
        <li>{{ serie.overview }}</li>
        <li>{{ serie.firstAirDate|date('d/m/Y') }}</li>
        <li>{{ serie.status }}</li>
    </ul>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('app_serie_update', {'id' : serie.id}) }}">Editer</a>&nbsp;
        <a class="btn btn-danger" href="{{ path('app_serie_delete', {'id': serie.id, 'token': csrf_token('delete'~serie.id)}) }}" onclick="return confirm('Etes vous sûr ???')">Supprimer</a>
    {% endif %}

    <h2>Les Saisons</h2>
    <ul>
    {% for season in serie.seasons %}
        <li>{{ season.number }}: {{ season.overview }} - {{ season.firstAirDate|date('d/m/Y') }}</li>
    {% endfor %}
    </ul>

{% endblock %}