{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
            url("{{ asset("contrib/backdrops/" ~ serie.backdrop) }}");
        }
    </style>

    <h1>{{ serie.name }}</h1>

    {%  if serie is empty %}
        Pas de série de cet id
    {% else %}
    <ul>
        <li>{{ serie.id }}</li>
        <li>{{ serie.name }}</li>
        <li>{{ serie.overview }}</li>
        <li>{{ serie.firstAirDate|date('d/m/Y') }}</li>
        <li>{{ serie.status }}</li>
    </ul>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('app_serie_update', {'id' : serie.id}) }}">Editer</a>


{% endblock %}