{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Series{% endblock %}

{% block body %}
    <h1>Séries</h1>
    {% if page > 1 %}
        <a href="{{ path('app_serie_list', {'page' : page - 1}) }}">page précédente</a>
    {% endif %}&nbsp;
    {% if page < nbPagesMax %}
        <a href="{{ path('app_serie_list', {'page' : page + 1}) }}">page suivante</a>
    {% endif %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Overview</th>
            <th>Status</th>
            <th>Genres</th>
            <th>Vote</th>
            <th>Popularity</th>
            <th>First Air Date</th>
            <th>Last Air Date</th>
            <th>Date created</th>
            <th>Date modified</th>
        </tr>
        {% for serie in series %}
            <tr>
                <td>{{ serie.name }}</td>
                <td>{{ serie.overview }}</td>
                <td>{{ serie.status }}</td>
                <td>{{ serie.genres }}</td>
                <td>{{ serie.vote }}</td>
                <td>{{ serie.popularity }}</td>
                <td>{{ serie.firstAirDate|date('d/m/Y') }}</td>
                <td>{{ serie.lastAirDate ? serie.lastAirDate|date('d/m/Y') : '' }}</td>
                <td>{{ serie.dateCreated|date('d/m/Y') }}</td>
                <td>{{ serie.dateModified ? serie.dateModified|date('d/m/Y') : '' }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
