{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Series{% endblock %}

{% block body %}
    <section>
        {% if page > 1 %}
            <a href="{{ path('app_serie_list', {'page' : page - 1}) }}">page précédente</a>
        {% endif %}&nbsp;
        {% if page < nbPagesMax %}
            <a href="{{ path('app_serie_list', {'page' : page + 1}) }}">page suivante</a>
        {% endif %}
    </section>
    <br><br>
    <section>
        {% for serie in series %}
            <a href="{{ path('app_serie_detail', {'id': serie.id}) }}">
                <img src="{{ asset('contrib/posters/series/' ~ serie.poster) }}" width="300px" loading="lazy" alt="{{ serie.name }}" />
            </a>
        {% else %}
            Pas de série
        {% endfor %}
    </section>




{% endblock %}
